* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

input[type="file"] {
    display: none;
}

.header-block {
    background-color: rgba(46, 46, 46, 1);
    height: 74px;
}

.header-block__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-block__account {
    display: flex;
    align-items: center;
}

.header-block__account a {
    height: 40px;
}

.header-block__author-image {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: rgba(221, 120, 63, 1);
    border-radius: 16px;
    text-align: center;
    font: 400 16px/32px "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 1);
    margin: 4px;
}

.header-block__logout-icon {
    margin: 8px;

}

main {
    background-color: rgba(247, 247, 247, 1);
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 32px;
}

.post-title__text h1{
    font: 400 34px/40px "Lora", sans-serif;
    margin-bottom: 8px;
}

.post-title__text h2{
    font: 400 14px/20px "Oxygen", sans-serif;
    color: rgba(46, 46, 46, 0.63);
}

.publish {
    background-color: #dd783f;
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 48px;
    font: 400 16px/24px "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 1);
}

.main-information {
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 40px 56px 40px;
}

.main-information__content {
    display: flex;
    justify-content: space-between;
}

.main-information h2{
    font: 400 27px/30px "Lora", sans-serif;
    margin-bottom: 40px;
}

.main-information__form label {
    display: block;
    font: 400 12px/16px "Oxygen", sans-serif;
    color: rgba(46, 46, 46, 0.63);
}

.main-information__ps {
    color: rgba(153, 153, 153, 1);
}

.main-information__form input {
    width: 560px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    border-radius: 5px 5px 0 0;
    margin: 5px 0 40px 0;
    padding: 0 8px 0 4px;
}

input:focus {
    border: none;
    outline: none;
}

.main-information__form input::placeholder {
    color: rgba(46, 46, 46, 1);
}

.main-information__preview h3{
    font: 400 14px/20px "Oxygen", sans-serif;
    color: rgba(122, 122, 122, 1);
    margin-bottom: 16px;
}

.main-information__preview h4{
    font: 400 14px/20px "Oxygen", sans-serif;
    color: rgba(122, 122, 122, 1);
    margin-bottom: 16px;
}

.main-information__article-outer {
    width: 440px;
    height: 385px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 30px 30px 0 0;
    margin: 0 0 20px 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.main-information__article-inner {
    width: 408px;
    height: 353px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin: 32px 16px 0 16px;
}

.main-information__article-header {
    display: flex;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    height: 23px;
    padding-left: 6px;
}

.main-information__bullet {
    margin: 10px 2px 10px 2px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(217, 217, 217, 1);
}

.main-information__article-inner h5{
    margin: 36px 0 4px 0;
    font: 400 20px/24px "Lora", sans-serif;
    color: rgba(46, 46, 46, 1);
    text-align: center;
}

.main-information__article-inner h6{
    margin: 0 0 36px 0;
    font: 400 10px/12px "Oxygen", sans-serif;
    color: rgba(46, 46, 46, 0.63);
    text-align: center;
}

.main-information__post-card-preview {
    width: 440px;
    height: 360px;
}