* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header-block {
  height: 500px;
  background: url("../images/hills.jpg") no-repeat;
  background-size: cover;
}

.navigation__logo {
  position: absolute;
  padding-top: 20px;
}

.navigation {
  margin: 0 auto 103px auto;
}

.navigation__list {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation__link {
  display: block;
  padding: 27px 20px 27px 20px;
  text-decoration: none;
  font: 400 12px/20px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.header-block__title {
  text-align: center;
}

.header-block__title h1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 51px;
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.header-block__title h2 {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 31px;
  color: rgba(255, 255, 255, 0.63);
}

.header-block__latest {
  background-color: #dd783f;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  width: 167px;
  height: 44px;
  font: 400 13px/20px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.menu__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
}

.menu__link {
  display: block;
  font: 400 14px/20px "Lora", sans-serif;
  padding: 23px 0 23px 0;
  text-align: center;
  color: #768088;
}

.posts {
  background-color: rgba(247, 247, 247, 1);
}

.posts__featured {
  width: 940px;
  margin: 0 auto;
}

.posts__blocks {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.posts__title {
  padding-top: 60px;
  margin: 0 0 16px 0;
  font: 400 20px/27px "Oxygen", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  color: #2e2e2e;
}

.posts__divider {
  height: 1px;
  width: 188px;
  background-color: rgba(222, 222, 222, 1);
  margin: 0 auto 23px auto;
}

.featured-post {
  padding: 157px 20px 15px 20px;
  position: relative;
  background-size: cover;
  width: 420px;
  border-radius: 3px;
}

.featured-post__title {
  font: 400 27px/30px "Lora", sans-serif;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 6px 0;
}

.featured-post__subtitle {
  display: block;
  font: 400 14px/25px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 12px 0;
  text-decoration: none;
}

.featured-post__bottom-bar {
  height: 35px;
}

.featured-post__avatar {
  display: inline;
  float: left;
  margin-top: 5px;
}

.featured-post__name {
  display: inline;
  float: left;
  font: 400 12px/35px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin: auto 0;
  padding-left: 10px;
}

.featured-post__date {
  display: inline;
  float: right;
  font: 400 12px/35px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.featured-post__type {
  border-radius: 2px;
  width: 87px;
  height: 26px;
  background-color: rgba(221, 120, 63, 1);
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
  font: 400 12px/26px "Oxygen", sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.posts__recent {
  margin: 0 auto;
  padding-bottom: 83px;
}

.posts__blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recent-post {
  width: 296px;
  height: 291px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 25px;
}

.recent-post__image {
  width: 296px;
  height: 150px;
  vertical-align: top;
  margin-bottom: 14px;
}

.recent-post__content {
  padding-left: 13px;
}

.recent-post__title {
  font: 400 16px/21px "Lora", sans-serif;
  color: rgba(16, 19, 21, 1);
  margin: 0 0 6px 0;
}

.recent-post__subtitle {
  display: block;
  height: 38px;
  width: 280px;
  font: 400 13px/19px "Oxygen", sans-serif;
  color: rgba(122, 122, 122, 1);
  margin: 0 0 12px 0;
}

.recent-post__divider {
  width: 100%;
  height: 1px;
  margin: 0 0 7px 0;
  background-color: rgba(239, 239, 239, 1);
}

.recent-post__avatar {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: inline;
  float: left;
  margin: 5px 0 0 13px;
}

.recent-post__name {
  display: inline;
  float: left;
  font: 400 11px/35px "Oxygen", sans-serif;
  color: rgba(153, 153, 153, 1);
  width: 100px;
  margin-left: 10px;
}

.recent-post__date {
  display: inline;
  float: right;
  font: 400 11px/35px "Oxygen", sans-serif;
  color: rgba(153, 153, 153, 1);
  margin: 0 13px 0 0;
}

.footer-block {
  height: 89px;
  background: rgba(35, 47, 56, 0.6) url('../images/frame.svg') no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.footer-block__logo {
  position: absolute;
  padding-top: 31px;
}

.footer-block__list {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-block__link {
  display: block;
  padding: 31px 10px 32px 10px;
  text-decoration: none;
  font: 400 11px/26px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

