body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-bar {
    height: 2.8%;
    width: 100%;
}
.inner-top-bar {
    width: 66.7%;
    height: 100%;
    margin: 0 auto;
}
.inner-top-bar .logo {
    display: inline-block;
    vertical-align: middle;
}
.inner-top-bar ul {
    display: inline-block;
}
.top-buttons {
    display: inline-block;
    height: 100%;
    width: calc(100% - 93px);
    text-align: right;
    vertical-align: middle;
}
.top-buttons li {
    display: inline-block;
    text-decoration: none;
    padding: 27px 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #2e2e2e;
    line-height: 20px;
}
.head-article {
    width: 66.7%;
    height: 159px;
    text-align: center;
    margin: 67px auto;
}
.head-article h1 {
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    color: #2e2e2e;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.head-article h2 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(46, 46, 46, 0.63);
    margin: 0;
}
.sky {
    width: 100%;
    margin-bottom: 140px;
}
.text {
    width: 66.7%;
    margin: auto;
}
.text p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #101315;
    margin: 0 auto 135px auto;
}
.bottom-bar {
    height: 2.8%;
    background: rgba(35, 47, 56, 0.6) url('../images/frame.svg') no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.inner-bottom-bar {
    width: 66.7%;
    height: 100%;
    margin: 0 auto;
}
.inner-bottom-bar .logo {
    display: inline-block;
    vertical-align: middle;
}
.inner-bottom-bar ul {
    display: inline-block;
}
.bottom-buttons {
    display: inline-block;
    height: 100%;
    width: calc(100% - 93px);
    text-align: right;
    vertical-align: middle;
}
.bottom-buttons .top-buttons__button {
    cursor: pointer;
}
.bottom-buttons li {
    display: inline-block;
    text-decoration: none;
    padding: 27px 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
}
