body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-bar {
    height: 2.8%;
    width: 100%;
}
.top-bar__inner {
    width: 66.7%;
    height: 100%;
    margin: 0 auto;
}
.top-bar__logo {
    display: inline-block;
    vertical-align: middle;
}
.top-bar__inner ul {
    display: inline-block;
}
.top-bar__top-buttons {
    display: inline-block;
    height: 100%;
    width: calc(100% - 93px);
    text-align: right;
    vertical-align: middle;
}
.top-bar__button {
    cursor: pointer;
}
.top-bar__top-buttons li {
    display: inline-block;
    text-decoration: none;
    padding: 27px 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #2e2e2e;
    line-height: 20px;
}


.bottom-bar {
    height: 2.8%;
    background: rgba(35, 47, 56, 0.6) url('src/images/frame.svg') no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.bottom-bar__inner {
    width: 66.7%;
    height: 100%;
    margin: 0 auto;
}
.bottom-bar__logo {
    display: inline-block;
    vertical-align: middle;
}
.bottom-bar__inner ul {
    display: inline-block;
}
.bottom-bar__bottom-buttons {
    display: inline-block;
    height: 100%;
    width: calc(100% - 93px);
    text-align: right;
    vertical-align: middle;
}
.top-buttons__button {
    cursor: pointer;
}
.bottom-bar__bottom-buttons li {
    display: inline-block;
    text-decoration: none;
    padding: 27px 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
}
